html
{
  font:13px/1.231 Calibri,Arial,sans-serif; *font-size:small;
}

.docLink 
{
  background: url(../../images/$.geo-logo-small.png) right no-repeat;
  color: #7f0000;
  display: block;
  float: right;
  font-size: 24px;
  font-weight: bold;
  padding-right: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.info 
{
  background: #fff;
  border-radius: 8px;
  box-shadow: -4px 4px #444;
  max-width: 45%;
  padding: 8px;
  position: absolute;
  right: 16px;
  top: 16px;
}
