.links
{
  float: right;
}

.docLink 
{
  background: url(../../images/$.geo-logo-small.png) right no-repeat;
  color: #7f0000;
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding-right: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.fiddleLink
{
  display: block;
  font-weight: bold;
  margin: 4px;
  text-align: right;
  text-decoration: none;
}

.fiddleLink img
{
  border: none;
  vertical-align: middle;
}
  
.mobile-shrink
{
  font-size: .6em;
}

.not-mobile
{
  display: none;
}

@media only screen and (min-width: 800px) 
{  
  .info
  {
    width: 45% !important;
    position: fixed;
    right: 16px;
    top: 16px;
  }

  .mobile-shrink
  {
    font-size: 1em;
  }
  
  .not-mobile
  {
    display: block;
  }
}

html
{
  font:13px/1.231 Calibri,Arial,sans-serif; *font-size:small;
}

.info 
{
  background: #fff;
  border-radius: 8px;
  box-shadow: -4px 4px #444;
  opacity: .8;
  padding: 8px;
  width: 90%;
}

fieldset { border: none; }

legend {
  font-size: 14px;
  font-weight: bold;
}


